body 
	{background-image:url(BeijingDuck.jpg);
	background-repeat:repeat;
	background-size:500px 230px}

.divFormat
	{border-style:solid;
	border-width:10px;
	border-color:blue;
	margin-top:100px;
	margin-left:100px;
	margin-right:550px;
	padding:15px;
	width:43%}
	
h3.header
	{color:lavender;
	font-size:50px;
	font-family:cursive,serif;}
	
a:link
	{text-decoration:none;
	color:lavender;}
a:visited
	{color:lavender;}
	
table
	{margin-top:50px;
	margin-left:100px;
	margin-right:550px;
	border-width:15px;
	border-color:green;
	border-top-style:solid;
	border-right-style:double;
	border-bottom-style:dashed;
	border-left-style:dotted;
	font-family:georgia,serif;
	table-layout:fixed;
	width:47%;}
	
th
	{background-color:orange;
	padding:10px;
	font-size:20px;}

ol#FT21, ol#FT31
	{list-style-type:upper-roman;}
	
td#FT2
	{background-color:aquamarine;
	border-style:solid;
	border-width:2px;
	border-color:blue;
	font-size:15px;}
	
td#FT3
	{background-color:brown;
	border-style:solid;
	border-width:2px;
	border-color:plum;
	font-size:15px;}
	
td#SD2
	{background-color:khaki;
	border-style:solid;
	border-width:2px;
	border-color:red;
	font-size:15px;
	padding:10px;
	display:inlien-table;
	padding: 0px 0px 1px 24px;
	vertical-align: middle;}
	
ul#SD21
	{list-style-image:url('Duck.png');}
	
ul#SD22
	{color:red;
	list-style-type:circle;}

ol#SD30
	{list-style-type:lower-greek;}

td#SD3
	{background-color:lightseagreen;
	border-style:solid;
	border-width:2px;
	border-color:bisque;
	font-size:15px;
	padding:10px;
	display:inlien-table;
	padding: 0px 0px 1px 24px;
	vertical-align: middle;}

ul#SD31
	{color:bisque;
	list-style-type:square;}

ul#SD32
	{list-style-image:url('China.png');}

	

