/* Assignment #2_Question #2
   Written by: Sasa Zhang (25117151)
   For SOEN 287 - CC - Summer 2019
 */


div#statsOut
{
	border-width: 2px;
	border-style: solid;
	border-color: red;
	font-family: "Times New Roman", Arial, serif;
	fond-size: 15px;
	margin-top: 100px;
	margin-right: 300px;
	margin-bottom: 300px;
	margin-left: 100px;
}

