/* Assignment #2_Question #3
   Written by: Sasa Zhang (25117151)
   For SOEN 287 - CC - Summer 2019
 */


table
{	border-style: solid;
	border-width: 2px;
	border-collapse: collapse; 
}


tr.colored
{
	background-color: #FCA2C9;
}


td
{
	padding:5px;
}


td.input
{
	padding-right:40px;
}





